# SQL Advent Calendar
<br>

<b>Day 1:</b> A ski resort company want to know which customers rented ski equipment for more than one type of activity (e.g., skiing and snowboarding). List the customer names and the number of distinct activities they rented equipment for.

In [ ]:
SELECT customer_name, 
    COUNT(DISTINCT(activity)) AS 'distinct_activities'
from rentals
GROUP BY customer_name 
HAVING COUNT(DISTINCT(activity)) > 1;

<br>
<b>Day 2:</b> Santa wants to know which gifts weigh more than 1 kg. Can you list them?

In [ ]:
SELECT gift_name
from gifts
WHERE weight_kg > 1;

<br>
<b>Day 3:</b> You’re trying to identify the most calorie-packed candies to avoid during your holiday binge. Write a query to rank candies based on their calorie count within each category. Include the candy name, category, calories, and rank (rank_in_category) within the category.

In [ ]:
SELECT candy_name, candy_category, calories,
    RANK() OVER(PARTITION BY candy_category ORDER BY calories DESC) AS 'rank_in_category'
from candy_nutrition;

<br>
<b>Day 4:</b> You’re planning your next ski vacation and want to find the best regions with heavy snowfall. Given the tables resorts and snowfall, find the average snowfall for each region and sort the regions in descending order of average snowfall. Return the columns region and average_snowfall.

In [ ]:
SELECT ski_resorts.region, 
    AVG(snowfall.snowfall_inches) as 'average_snowfall' 
from ski_resorts
INNER JOIN snowfall
ON ski_resorts.resort_id = snowfall.resort_id 
GROUP BY ski_resorts.region
ORDER BY average_snowfall DESC;

<br>
<b>Day 5:</b> This year, we're celebrating Christmas in the Southern Hemisphere! Which beaches are expected to have temperatures above 30°C on Christmas Day?

In [ ]:
SELECT beach_name
from beach_temperature_predictions
WHERE expected_temperature_c > 30 AND date = '2024-12-25';

<br>
<b>Day 6:</b> Scientists are tracking polar bears across the Arctic to monitor their migration patterns and caloric intake. Write a query to find the top 3 polar bears that have traveled the longest total distance in December 2024. Include their bear_id, bear_name, and total_distance_traveled in the results.

In [ ]:
SELECT polar_bears.bear_id, polar_bears.bear_name, 
        sum(tracking.distance_km) as 'total_distance_traveled'
from polar_bears
INNER JOIN tracking 
ON polar_bears.bear_id = tracking.bear_id
WHERE tracking.date BETWEEN '2024-12-01' AND '2024-12-31'
GROUP BY polar_bears.bear_id
ORDER BY total_distance_traveled DESC
LIMIT 3;

<br>
<b>Day 7:</b> The owner of a winter market wants to know which vendors have generated the highest revenue overall. For each vendor, calculate the total revenue for all their items and return a list of the top 2 vendors by total revenue. Include the vendor_name and total_revenue in your results.

In [ ]:
SELECT vendors.vendor_name, 
    sum(sales.price_per_unit * sales.quantity_sold) as 'total_revenue'
from vendors
INNER JOIN sales
ON vendors.vendor_id = sales.vendor_id
GROUP BY vendors.vendor_id
ORDER BY total_revenue DESC
LIMIT 2;

<br>
<b>Day 8:</b> You are managing inventory in Santa's workshop. Which gifts are meant for "good" recipients? List the gift name and its weight.

In [ ]:
SELECT gift_name
from gifts
WHERE recipient_type = 'good';

<br>
<b>Day 9:</b> A community is hosting a series of festive feasts, and they want to ensure a balanced menu. Write a query to identify the top 3 most calorie-dense dishes (calories per gram) served for each event. Include the dish_name, event_name, and the calculated calorie density in your results.

In [ ]:
WITH ranked_dishes as ( 
    SELECT event_name, dish_name, 
        calories / weight_g as calorie_density,
        RANK() OVER (PARTITION BY event_name ORDER BY calories / weight_g DESC) as rank
    FROM events
    JOIN menu
    ON events.event_id = menu.event_id
)

SELECT event_name, dish_name, calorie_density
FROM ranked_dishes
WHERE rank <= 3;

<br>
<b>Day 10:</b> You are tracking your friends' New Year’s resolution progress. Write a query to calculate the following for each friend: number of resolutions they made, number of resolutions they completed, and success percentage (% of resolutions completed) and a success category based on the success percentage:
- Green: If success percentage is greater than 75%.
- Yellow: If success percentage is between 50% and 75% (inclusive).
- Red: If success percentage is less than 50%.

In [ ]:
WITH resolutions_summary as (
    SELECT friend_name, 
        COUNT(resolution) as number_of_resolutions,
        SUM(is_completed) as resolutions_completed,
        ROUND((SUM(is_completed) * 1.0) / COUNT(resolution) * 100, 2) as success_percentage
    FROM resolutions
    GROUP BY friend_name
)

SELECT friend_name, 
    number_of_resolutions,
    resolutions_completed,
    success_percentage,
    CASE 
        WHEN success_percentage > 75 THEN 'Green'
        WHEN success_percentage >= 50 AND success_percentage <= 75 THEN 'Yellow'
        WHEN success_percentage < 50 THEN 'Red'
    END AS success_category
FROM resolutions_summary;

<br>
<b>Day 11:</b> You are preparing holiday gifts for your family. Who in the family_members table are celebrating their birthdays in December 2024? List their name and birthday.

In [ ]:
SELECT name, birthday 
from family_members 
WHERE birthday BETWEEN '2024-12-01' AND '2024-12-31';

<br>
<b>Day 12:</b> A collector wants to identify the top 3 snow globes with the highest number of figurines. Write a query to rank them and include their globe_name, number of figurines, and material.

In [ ]:
SELECT globe_name, 
    count(f.globe_id) as number_of_figurines,
    material
FROM snow_globes sg
JOIN figurines f
ON sg.globe_id = f.globe_id
GROUP BY globe_name
ORDER BY number_of_figurines DESC
LIMIT 3;

<br>
<b>Day 13:</b> We need to make sure Santa's sleigh is properly balanced. Find the total weight of gifts for each recipient.

In [ ]:
SELECT recipient, 
    sum(weight_kg) as total_weight
FROM gifts
GROUP BY recipient
ORDER BY total_weight DESC;

<br>
<b>Day 14:</b> Which ski resorts had snowfall greater than 50 inches?

In [ ]:
SELECT *
FROM snowfall
WHERE snowfall_inches > 50;

<br>
<b>Day 15:</b> A family reunion is being planned, and the organizer wants to identify the three family members with the most children. Write a query to calculate the total number of children for each parent and rank them. Include the parent’s name and their total number of children in the result.

In [ ]:
SELECT name, 
    count(parent_id) as total_children
FROM family_members fm
JOIN parent_child_relationships pcr
ON fm.member_id = pcr.parent_id
GROUP BY name
ORDER BY total_children DESC 
LIMIT 3;

<br>
<b>Day 16:</b> As the owner of a candy store, you want to understand which of your products are selling best. Write a query to calculate the total revenue generated from each candy category.

In [ ]:
SELECT category, 
    SUM(price_per_unit * quantity_sold) as total_revenue
FROM candy_sales
GROUP BY category
ORDER BY total_revenue DESC;

<br>
<b>Day 17:</b> The Grinch is planning out his pranks for this holiday season. Which pranks have a difficulty level of “Advanced” or “Expert"? List the prank name and location (both in descending order).

In [ ]:
SELECT prank_name, location
FROM grinch_pranks
WHERE difficulty = 'Advanced' OR difficulty = 'Expert'
ORDER BY prank_name DESC, location DESC;

<br>
<b>Day 18:</b> A travel agency is promoting activities for a "Summer Christmas" party. They want to identify the top 2 activities based on the average rating. Write a query to rank the activities by average rating.

In [ ]:
SELECT activity_name, 
    AVG(rating) as avg_rating
FROM activities a
JOIN activity_ratings ar
ON a.activity_id = ar.activity_id
GROUP BY ar.activity_id
ORDER BY avg_rating DESC
LIMIT 2;

<br>
<b>Day 19:</b> Scientists are studying the diets of polar bears. Write a query to find the maximum amount of food (in kilograms) consumed by each polar bear in a single meal December 2024. Include the bear_name and biggest_meal_kg, and sort the results in descending order of largest meal consumed.

In [ ]:
SELECT bear_name, 
    MAX(food_weight_kg) as biggest_meal_kg
FROM polar_bears
JOIN meal_log
ON polar_bears.bear_id = meal_log.bear_id
WHERE date BETWEEN '2024-12-01' AND '2024-12-31'
GROUP BY polar_bears.bear_id
ORDER BY biggest_meal_kg DESC;

<br>
<b>Day 20:</b> We are looking for cheap gifts at the market. Which vendors are selling items priced below $10? List the unique (i.e. remove duplicates) vendor names.

In [ ]:
SELECT DISTINCT(vendor_name)
FROM vendors
JOIN item_prices
ON vendors.vendor_id = item_prices.vendor_id
WHERE price_usd < 10;

<br>
<b>Day 21:</b> Santa needs to optimize his sleigh for Christmas deliveries. Write a query to calculate the total weight of gifts for each recipient type (good or naughty) and determine what percentage of the total weight is allocated to each type. Include the recipient_type, total_weight, and weight_percentage in the result.

In [ ]:
WITH totals as (
    SELECT recipient_type, 
        SUM(weight_kg) as total_weight
    FROM gifts
    GROUP BY recipient_type
)
SELECT recipient_type, 
    total_weight,
    ROUND(total_weight / SUM(total_weight) OVER () * 100, 2) as weight_percentage
FROM totals
GROUP BY recipient_type, total_weight